@use '../../styles/settings/index.scss' as *;

.margin {
    padding: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow {
    background-color: $color-1;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    z-index: 3;
    transform: rotate(270deg);
}

.next{
    margin-left: -1.5rem;
}
.previous{
    margin-right: -1.5rem;
}


.carousel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.carousel-active,
.carousel-faded {
    height: 10rem;
    flex-grow: 1;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;

}

.carousel-faded {
    background-color: $white-1;
}

.carousel-active {
    background-color: $grey-1;
}

.grid {
    margin: 0 2rem;

    .carousel {
        width: 100%;
    }

    .tab {
        // <row-start> / <column-start> / <row-end> / <column-end>
        background-color: $white-1;
        height: 10rem;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@include gt-sm {
    .carousel-container {
        display: flex;
        flex-direction: column;
    }

    .wrapper {
        flex-direction: column;
    }

    .arrow {
        transform: rotate(0deg);
    }
    
    .next{
        margin-left: 0rem;
    }
    .previous{
        margin-right: 0rem;
    }
    

    .grid {
        display: grid;
        margin: 0 2rem;
        place-items: center;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;

        .carousel {
            grid-area: 1 / 1 / 2 / 2;
            max-width: 48vw;

            .carousel-active,
            .carousel-faded {
                height: 10rem;
            }
        }

        .tab {
            grid-area: 1 / 2 / 2 / 3;
            height: 100%;
            width: 100%;
        }
    }
}