$color-primary: #958AF5;
$color-secondary: #AFFC41;
$color-tertiary: #427AA1;
$dark-primary: #000000;
$grey-primary: #CFCFCF;
$white-primary: #F2F2F2;
// $circle-1: #958AF5;
// $circle-2: #FC67F2;
// $circle-3: #4DFDE8;
